/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');



//colors
//background
$bkgStrong:rgba(0, 0, 0, 0.904);
$bkgMedium:gray;
$bkgWeak:lightgray;

$accent:red;

//text
$h1Color:rgba(0, 0, 0, 0.787);
$h2Color:rgba(0, 0, 0, 0.678);
$pColor:rgba(0, 0, 0, 0.555);

//more
$regRound:10px;


//scss files
@import "style/buttons";
@import 'style/wrapper';

//main
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}

h1 {
  font-size: 2rem;
  color: $h1Color;
  text-align: center;
}

p {
  font-size: 1rem;
  color: $pColor;
}

.nav {
  display: flex;
  width: 100%;
  a {
    color: white;
    background-color: $bkgStrong;
    text-decoration: none;
    padding: 1rem 2rem;
    cursor: pointer;
    box-sizing: border-box;
    flex: 1;
  }

  &__link {
   
    height: fit-content;
    flex: 1;
    text-align: center;

    
    

    &:hover {
      opacity: 0.8;
    }
  }
}
